<footer id="contact" class="footer">
  <div class="container footer-content text-center">
    <p class="footer-text">Crafted with ❤️ and a passion for code by Sameer</p>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/sameer-sinha-4b3a40174/" target="_blank" title="LinkedIn Profile">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://www.github.com/sameer882000" target="_blank" title="GitHub Profile">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://x.com/mai_hoon_sameer" target="_blank" title="Twitter Profile">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
    </div>
    <p class="mt-2">© 2024 My Portfolio | All Rights Reserved</p>
  </div>
</footer>
