<footer  class="footer">
  <div class="container footer-content text-center">
    <p class="footer-text">Crafted with ❤️  by Sameer</p>
    <!-- <div class="social-links">
      <a href="mailto:sameer.882000@gmail.com" target="_blank" title="Mail">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="https://www.linkedin.com/in/sameer-sinha-4b3a40174/" target="_blank" title="LinkedIn Profile" rel="noopener">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://www.github.com/sameer882000" target="_blank" title="GitHub Profile" rel="noopener">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://x.com/mai_hoon_sameer" target="_blank" title="Twitter Profile" rel="noopener">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
    </div> -->
    <span style="cursor:pointer" class="mt-2" href="https://github.com/sameer882000/portfolio-angular">View Source</span>
  </div>
</footer>
