<section id="about" class="py-5 text-center">
  <div class="container">
    <h3>About Me</h3>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <img src="assets/icons/crop.JPG" alt="Pfp" class="img-fluid rounded-circle my-4" width="200">
        <p class="lead">
          Hi, I'm <b>Sameer Sinha</b>. A passionate frontend developer with 2 years of experience in Angular and TypeScript.
           I enjoy building responsive, dynamic web applications and solving complex challenges.
           Currently working as a Software Development Consultant at <b>Genpact India Private Limited</b>.
            Graduated in Bachelor of Engineering(B.E) from Jadavpur University.</p>
      </div>
    </div>
  </div>
</section>
