<section id="about" class="about py-5 text-center">
  <div  class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 my-5" >
        <p class="intro-text">Hi, I'm</p>
        <h1 class="highlight-name">Sameer Sinha.</h1>
        <p class="lead">A passionate full-stack developer who enjoys building responsive, dynamic web applications and solving complex challenges.</p>
      <a href="#projects" class="btn-see-my-work">See My Work</a>
      </div>
    </div>
  </div>
</section>
