.container {
    padding: 20px;
}

.list-group-item {
    background-color: transparent;
    border: none;
    margin-bottom: 15px;
}

h5 {
    font-size: 1.5rem;
    color: #007bff;
    /* Accent color */
}