<section id="projects" class="my-5 py-5">
  <div class="container">
    <h2 class="text-center mb-5">Projects</h2>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4" *ngFor="let project of projects">
        <div class="card shadow-sm project-card" [@fadeAnimation]>
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description }}</p>
            <a [href]="project.link" target="_blank" class="btn btn-outline-primary">View Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
