<!-- src/app/contact/contact.component.html -->
<div id="contact" class="contact-section">
    <p class="contact-title">Connect with Me</p>
    <p class="contact-intro">Reach out via:</p>

    <div class="contact-links">
        <div class="contact-item">
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:sameer.882000@gmail.com">Email</a>
        </div>
        <div class="contact-item">
            <i class="fa-brands fa-linkedin"></i>
            <a href="https://www.linkedin.com/in/sameer-sinha-4b3a40174/" target="_blank" rel="noopener">
                LinkedIn
            </a>
        </div>
        <div class="contact-item">
            <i class="fa-brands fa-github"></i>
            <a href="https://www.github.com/sameer882000" target="_blank" rel="noopener">
                GitHub
            </a>
        </div>
        <div class="contact-item">
            <i class="fa-brands fa-x-twitter"></i>
            <a href="https://x.com/mai_hoon_sameer" target="_blank" rel="noopener">Twitter</a>
        </div>
    </div>
</div>
