#contact {
    padding: 60px 0;
}

#contact .form-control {
    padding: 10px;
}

#contact button {
    padding: 10px 30px;
}

@media (max-width: 768px) {
    #contact h2 {
        font-size: 2rem;
    }

    #contact .form-control {
        padding: 8px;
    }

    #contact button {
        padding: 8px 20px;
    }
}