<div id="contact" class="contact-section">
    <p class="contact-title">Connect with Me</p>

    <div class="contact-links">
        <a href="mailto:sameer.882000@gmail.com" class="contact-item" target="_blank" rel="noopener" aria-label="Send an email to Sameer Sinha">
            <i class="fa-solid fa-envelope"></i>
        </a>
        <a href="https://www.linkedin.com/in/sameer-sinha-4b3a40174/" class="contact-item" target="_blank" rel="noopener" aria-label="Visit Sameer Sinha's LinkedIn profile">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://www.github.com/sameer882000" class="contact-item" target="_blank" rel="noopener" aria-label="Visit Sameer Sinha's GitHub profile">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://x.com/mai_hoon_sameer" class="contact-item" target="_blank" rel="noopener" aria-label="Visit Sameer Sinha's Twitter profile">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
    </div>
</div>
