<section id="contact" class="my-5 py-5">
  <div class="container text-center">
    <h2>Contact Me</h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="shadow-lg p-4 rounded">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input id="name" formControlName="name" type="text" class="form-control rounded" required />
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" formControlName="email" type="email" class="form-control rounded" required />
          </div>

          <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea id="message" formControlName="message" rows="5" class="form-control rounded" required></textarea>
          </div>

          <button type="submit" class="btn btn-primary btn-lg shadow-lg rounded-pill" [disabled]="contactForm.invalid">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</section>
